@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Martian+Mono:wght@300&family=Lora:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.lora {
  font-family: "Lora", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.geometric {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.mono {
  font-family: "Martian Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.tint {
  position: relative;
  float: left;
  cursor: pointer;
}

.tint:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,255,255, 0.5);
  transition: background .3s linear;
}

.tint:hover:before {
  background: none;
}